@import "../../vars.scss";

.reviews {
    padding: $sectionPadding;

    &__wrapper {
        margin: 30px auto 0;
    }

    &__text {
        text-align: center;
        margin: 0 auto;
        max-width: 920px;
        margin-top: 24px;
        color: #222;
        font-weight: 400;
        line-height: 120%;
    }

    &__btn {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
