.logo {
    display: flex;
    align-items: center;
    gap: 7px;

    &__icon {
        cursor: pointer;
        height: 72px;
        width: 72px;
        border-radius: 50%;
    }

    &__descr {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: #222;
        font-size: 28px;
        font-weight: 800;
    }

    &__subtitle {
        margin-top: -5px;
        font-weight: 500;
    }
}

@media (max-width: 1300px) {
    .logo {
        &__title {
            font-size: 24px;
        }
    }
}

@media (max-width: 1150px) {
    .logo__subtitle {
        display: none;
    }
}
