.link {
  color: #222;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  transition: 0.3s all;

  &:hover {
    color: #fe981a;
    text-decoration-line: underline;
  }

  &:focus {
    color: #fe981a;
    text-decoration-line: underline;
  }
}
